<div class="login-container">
  <div class="login-card">
    <div class="login-header">
      <h2><%= t('.title') %></h2>
      <p><%= Settings.temple_name + t('.subtitle') %></p>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "login-form" }) do |f| %>
      <div class="form-group">
        <%= f.label :id_number %>
        <%= f.text_field :id_number, autofocus: true, autocomplete: "id_number", class: "form-control #{form_error_class(resource, :id_number)}", placeholder: t('helpers.placeholder.user.id_number') %>
        <%= display_field_errors(resource, :id_number) %>
      </div>

      <div class="form-actions">
        <%= f.submit t('.send_instructions'), class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <div class="login-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
