<div class='flex flex-col gap-4'>
  <div>名字：<%= @member.name %></div>
  <div>身分證字號：<%= @member.id_card_number %></div>
  <div>手機號碼：<%= @member.mobile_phone_number %></div>
  <div>電子郵件：<%= @member.email %></div>
  <div>地址：<%= @member.address %></div>
  <div>生日：<%= @member.birthday %></div>
  <div>
    <%= link_to '返回', admin_members_path, class: 'back-button' %>
  </div>
</div>
